<header class="header sp l-max-width l-relative">
  <div class="logo-wrapper">
    <a class="icon-npm logo" href="http://npmjs.com">
      <span class="screen-reader-text">
        npmjs.com
      </span>
    </a>
  </div>
  {{atoms 'button'}}
</header>
